@tailwind base;
@tailwind components;
@tailwind utilities;
#select {
  border:none;
  /* background:url(http://imgur.com/MJyZM.png) 0 0 no-repeat; */
  -webkit-appearance: none;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}